@import "global";
@import "vars";

body {
  background: $mainColor;
}

//START HEADER
.header {
  background: $secondColor;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 50px;

  .light {
  }

  &__container {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
    display: flex;
    align-items: center;

    &-logo {
      display: flex;
      flex-basis: 20%;
      justify-content: flex-start;
      align-items: center;
    }


    &-search {
      position: relative;
      display: flex;
      justify-content: flex-start;
      flex-basis: 10%;

      input {
        border-width: 0 0 0 8px;
        border-top-style: initial;
        border-right-style: initial;
        border-bottom-style: initial;
        border-top-color: initial;
        border-right-color: initial;
        border-bottom-color: initial;
        border-image: initial;
        box-sizing: border-box;
        padding: 6px 6px 6px 19px;
        margin: 10px 0;
        height: 28px;
        line-height: 16px;
        width: 230px;
        border-radius: 14px;
        transition: background-color 0.05s ease 0s, color 0.05s ease 0s;
        border-left-style: solid;
        border-left-color: transparent;
        background: white;
        outline: none;
        color: $mainColor;
        font-size: 13px;
        font-family: $font;

        &::placeholder {
          color: $mainColor;
          font-family: $font;
        }
      }

      svg {
        vertical-align: middle;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $secondColor;
        position: absolute;
        left: 7px;
        top: 16px;
      }
    }

    img {
      width: 40px;
      height: 40px;
      margin-top: 5px;
    }

    &-bell {
      padding: 15px 20px;
      margin-left: 20px;
      cursor: pointer;

      &:hover {
        background: $mainColor;
        transition: all 0.3s ease 0s;
      }

      svg {
        vertical-align: middle;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
    }

    &-user {
      display: flex;
      flex-basis: 50%;
      justify-content: flex-end;

      span {
        padding: 18px 15px 0 0;
        font-weight: bold;
        font-size: 12px;
        color: white;
        font-family: $font;
      }

      img {
        width: 32px;
        height: 32px;
        background: center center/cover;
        border-radius: 50%;
        margin: 10px 0;
      }

      &-svg {
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        color: white;
        cursor: pointer;
        display: inline-flex;

        svg {
          vertical-align: middle;
          display: inline-block;
        }
      }

      &-reverseSvg {
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        color: white;
        cursor: pointer;
        display: inline-flex;
        transform: rotate(180deg);

        svg {
          vertical-align: middle;
          display: inline-block;
        }
      }
    }
  }
}


//DARK MODE
.switch {
  margin-left: 15px;
}

#darkMode {
  filter: grayscale(100%);
  border: none;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode {
  filter: none;
  background-color: #8c8686;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
}

:root {
  --dark: rgb(35, 42, 48);
  --white: rgb(236, 236, 236);
}

body.light {
  --background-color: var(--white);
  --text-color: var(--dark);
  --font-weight: 400;
  --link: var(--dark);
}

body.dark {
  --background-color: var(--dark);
  --text-color: var(--white);
  --font-weight: 500;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

.Icon {
  display: flex;
}

a{
  color: var(--text-color);
  text-decoration: none;
  font-family: $font;
}
input, button, select, optgroup, textarea {
  margin: 0;
  color: var(--dark);
  font-size: inherit;
  font-family: $font;
  line-height: inherit;
}
// END DARK MODE

//END HEADER


//HOME PAGE

.Home {
  max-width: 990px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  padding: 60px 0;

  &__wrapper {
    display: flex;
    width: 100%;
    padding: 0 15px;
  }

  &__menu {
    width: 17%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 83%;
    animation: 0.6s ease-in-out 0s 1 normal none running top;
    &-right{
      width: 70%;
    }
    &-left {
      width: 30%;

      &-avatarWrapper {
        background: white;
        padding: 15px;
        margin: 10px 10px 10px 0;
        border-radius: 3px;
        box-shadow: rgb(215, 216, 219) 0 1px 0 0, rgb(227, 228, 232) 0 0 0 1px;
      }

      &-under {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        button {
          background: rgb(229, 235, 241);
          border: none;
          color: $secondColor;
          font-size: 13px;
          font-family: $font;
          padding: 6px 70px;
          border-radius: 4px;
        }
      }

      &-statWrapper {
        background: rgb(229, 235, 241);
        border-radius: 3px;
      }

      &-stat {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: rgb(85, 103, 125);
        cursor: pointer;
        width: 30px;
        height: 30px;

        svg {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }


    &-avatar {

      img {
        width: 200px;
        height: 200px;
        overflow: hidden;
        background: center center/cover;
      }
    }
  }
}

  .Friends {
    background: rgb(255, 255, 255);
    padding: 20px 15px 15px;
    margin: 0 10px 0 0;
    border-radius: 3px;
    box-shadow: rgb(215, 216, 219) 0 1px 0 0, rgb(227, 228, 232) 0 0 0 1px;

    &__photo {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding: 15px 0 0;
      flex-wrap: wrap;

      img {
        height: 50px;
        border-radius: 50%;
        width: 50px;
        background: center center / cover;
      }

      p {
        font-size: 12px;
        color: rgb(68, 68, 68);
        margin-top: 5px;
        text-transform: capitalize;
        text-align: center;
        font-family: $font;
      }
      &-block{
        margin: 3px;
      }
    }



  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    a {
      font-size: 12px;
      color: $secondColor;
      text-decoration: none;
    }

    &-left {
      font-size: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: $font;
      color: $secondColor;

      p {
        font-size: 12px;
        padding-left: 10px;
        color: $secondColor;
      }
    }
  }
}

.Groups {
  background: rgb(255, 255, 255);
  padding: 20px 15px 15px;
  margin: 10px 10px 0 0;
  border-radius: 3px;
  box-shadow: rgb(215, 216, 219) 0 1px 0 0, rgb(227, 228, 232) 0 0 0 1px;

  &__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    &-text {
      font-size: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: rgb(0, 0, 0);
      font-family: $font;

      p {
        font-size: 12px;
        padding-left: 10px;
        color: rgb(119, 119, 119);
      }
    }
  }

  &__content {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;

    &-image {
      width: 22%;
      height: 40px;
      background: black;
      border-radius: 50%;
    }

    &-desc {
      width: 88%;

      &-title {
        color: $secondColor;
        font-size: 13px;
        text-align: left;
        padding: 0 0 0 10px;
        font-family: $font;
        font-weight: 500;
      }

      &-subtitle {
        font-size: 12px;
        max-height: 48px;
        overflow: hidden;
        color: rgb(101, 101, 101);
        text-align: left;
        padding: 5px 0 0 10px;
        font-family: $pinkColor;
      }
    }
  }
}

.Albums {
  background: rgb(255, 255, 255);
  padding: 20px 15px 15px;
  margin: 10px 10px 0 0;
  border-radius: 3px;
  box-shadow: rgb(215, 216, 219) 0 1px 0 0, rgb(227, 228, 232) 0 0 0 1px;

  &__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    &-text {
      font-size: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: rgb(0, 0, 0);
      font-family: $font;

      p {
        font-size: 12px;
        padding-left: 10px;
        color: rgb(119, 119, 119);
        font-family: $font;
      }
    }
  }

  &__photo {
    position: relative;
    vertical-align: top;
    border-radius: 4px;
    max-width: 200px;
    margin-bottom: 10px;
    img {

      height: 132px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
      width: 100%;
    }
      &-modal{
      padding: 20px 40px;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      justify-content: space-between;
      img{
        margin-bottom: 30px;
        width: 48%;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 3;
      }
      &-wrapper{
        animation: 0.3s ease 0s 1 normal none running top;

        min-height: 600px;
        background: rgb(255, 255, 255);
        margin: 5% auto;
        border-radius: 4px;
        position: relative;
      }
    }

    &-subtitle {
      padding: 10px 15px;
      position: absolute;
      z-index: 2;
      bottom: 5px;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      width: 85%;
      transition: all 0.3s ease 0s;
      transform: translateY(0px);

      span {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: bold;
        font-family: $font;
      }
    }
  }
}

.ant-modal{
  width: 950px !important;
}
.ant-modal-body{
  width: 900px;
  margin: 0 auto;
}
.ant-modal-header{
  display: none;
}
.ant-modal-footer{
  display: none;
}

.modal-header{
  text-align: left;
  padding: 10px 30px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  height: 54px;
  line-height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  white-space: nowrap;
  background-color: rgb(242, 244, 247);
  border-bottom: 1px solid rgb(231, 234, 240);
  border-radius: 4px 4px 0 0;
  a{
    color: rgb(101, 101, 101);
    font-size: 14px;
    font-weight: 400;
    font-family: $font;
  }
  span{
    color: rgb(51, 51, 51);
    font-size: 14px;
    margin-left: 20px;
    font-family: $font;
  }
}
.Info{
  background: rgb(255, 255, 255);
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 3px;
  text-align: left;
  box-shadow: rgb(215, 216, 219) 0 1px 0 0, rgb(227, 228, 232) 0 0 0 1px;
  h3{
    font-size: 19px;
    line-height: 1.5em;
    color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    font-family: $font;
    span{
      font-size: 12px;
      color: rgb(0, 0, 0);
      opacity: 0.4;
      font-family: $font;
    }
  }
  p{
    font-size: 12px;
    color: rgb(34, 34, 34);
    opacity: 0.7;
    line-height: 1.5em;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(223, 230, 237);
    font-family: $font;
  }
  &__user{

    &-wrapper{
      margin-top: 10px;
    }
    &-birthday{
      padding-top: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      span{
        width: 80%;
        font-size: 13px;
        margin-left: 5%;
        font-family: $font;
        color: $secondColor;
        a{
          color: rgb(42, 88, 133);
          text-decoration: none;
          font-family: $font;
        }
      }
      &-text{
        font-size: 13px;
        color: rgb(68, 68, 68);
        width: 40%;
        font-family: $font;
      }
    }
  }
  &__ShowMore{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    &:hover{
      background: rgb(240, 242, 245);
      transition: all 0.3s ease 0s;
    }
    &-empty{
      font-size: 13px;
      color: rgb(68, 68, 68);
      width: 40%;
    }
    &-Wrapper{
      width: 100%;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      span{
        width: 80%;
        font-size: 13px;
        margin-left: 5%;
        font-family: $font;
        color: $secondColor;
      }
    }
  }
  &__FullInformation{
    animation: 0.3s ease 0s 1 normal none running opacity;
    padding: 20px 0;
    &-line{
      font-size: 13px;
      position: relative;
      margin: 20px 0;
      font-family: $font;
      color: rgb(42, 88, 133);
      &::after{
        content: "";
        position: absolute;
        width: 100%;
        right: 0;
        top: 10px;
        height: 1px;
        background: rgb(119, 119, 119);
        opacity: 0.7;
      }
      b{
        color:$secondColor;
        background: rgb(255, 255, 255);
        padding: 5px 10px 5px 0;
        position: relative;
        z-index: 2;
      }
    }
    &-text{
      padding-top: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    }
  &-Stats{
    padding-top: 10px;
    border-top: 1px solid rgb(223, 230, 237);
    display: flex;
    justify-content: space-between;
    a{
      text-decoration: none;
      width: 20%;
      padding: 10px;
      align-content: center;
      text-align: center;
    }
    &-Number{
      font-size: 19px;
      color: rgb(66, 100, 139);
      padding-bottom: 3px;
      line-height: 21px;
      font-family: $font;
    }
    &-Text{
      font-size: 13px;
      color: rgb(130, 130, 130);
      font-weight: normal;
      margin: 3px 0;
      font-family: $font;
    }
  }
  }


.UserPhotos{
  background: rgb(255, 255, 255);
  padding: 15px;
  margin: 10px 0;
  border-radius: 3px;
  box-shadow: rgb(215, 216, 219) 0 1px 0 0, rgb(227, 228, 232) 0 0 0 1px;
  &__title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    span{
      font-size: 12px;
      color: rgb(85, 85, 85);
      font-family: $font;
    }
    a{
      font-size: 12px;
      color: rgb(147, 147, 147);
      text-decoration: none;
      font-family: $font;
    }
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    img{
      width: 123px;
      height: 123px;
      margin: 3px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
      background: #000;
    }
  }
  &-photo{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
  }
}



//END HOME PAGE

//MENU
.Menu {
  margin-top: 20px;

  li {
    text-align: left;
    padding: 5px 0;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.9;
    width: 100%;
    line-height: 1.5;
    font-weight: 500;
    font-family: $font;
  }
}

//END MENU

.Modal {
  animation: 0.4s ease 0s 1 normal none running top;
  width: 60%;
  min-height: 95vh;
  background: rgb(255, 255, 255);
  margin: 20px auto;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: space-between;
  &__photoWrapper{
    width: 65%;
    min-height: 100%;
    background: rgb(51, 51, 51);
    position: relative;
    img{
      background-size: cover;
      width: 100%;
      min-height: 100%;
      margin: 0 auto;
      background-position: center center;
    }
  }
  &__underPhoto{
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    background: rgb(51, 51, 51);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    span{
      color: rgb(255, 255, 255);
      opacity: 0.7;
      font-size: 14px;
      line-height: 1.5em;
      margin-right: 10px;
      font-family: $font;
    }
  }
  &__photoInfo{
    width: 35%;
    min-height: 100%;
    &-wrapper{
      position: relative;
      height: 100%;
    }
    &-user{
      padding: 10px 20px 10px 10px;
      background-color: rgb(250, 251, 252);
      white-space: nowrap;
      border-bottom: 1px solid rgb(231, 232, 236);
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      img{
        width: 40px;
        height: 40px;
        background:center center / cover;
        border-radius: 50%;
        margin: 10px 0;
      }
    }
    &-name{
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-left: 15px;
      a{
        color:$secondColor;
        text-decoration: none;
        font-weight: normal;
        cursor: pointer;
        padding-bottom: 5px;
        font-family: $font;
      }
      }
    &-date{
      color: rgb(147, 147, 147);
      font-size: 12px;
      margin-top: 5px;
      font-family: $font;
    }
    }
  &__feedback{
    padding: 10px 30px 10px 20px;
    text-align: left;
  }
  &__comment{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    &-wrapper{
      display: flex;
      -webkit-box-pack: start;
      justify-content: start;
      -webkit-box-align: center;
      align-items: center;
      padding: 0 10px;

      img{
        width: 25px;
        height: 25px;
        background: center center / cover;
        border-radius: 50%;
        margin: 10px 0;
      }
      input{
        border: none;
        outline: none;
        background: transparent;
        margin-left: 10px;
        font-size: 14px;
        opacity: 0.7;
      }
    }

  }
  &__close{
    position: absolute;
    top: 0;
    right: -280px;
    color: white;
    font-size: 21px;
    cursor: pointer;
  }
  }
.heart{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $pinkColor;
  opacity: 0.6;
  padding-right: 20px;
  svg{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
}

.share{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $pinkColor;
  opacity: 0.6;
  padding-right: 20px;
  svg{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
}

.void{
  height: 50vh;
  overflow: auto;
}


.Overlay {
  background: rgba(0, 0, 0, 0.7);
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 6;
}









//MODAL
$black: #222;


.gallery-container {
  margin-left: 5px;
  h1 {
    margin: 2rem 0;
    padding: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 6.5vw;
    font-weight: lighter;
  }
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
}
.gallery-grid div {
  position: relative;
  cursor: pointer;
  &:before, &:after {
    transition: .3s opacity ease;
    opacity: 0;
  }
  &:after {
    content: '\02194';
    font-size: 80px;
    position: absolute;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    color: #fff;
    left: 50%;
    top: 50%;
    display: block;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 0;
    right: 0;
    background: rgba(#222, 0.5);
    display: block;
  }
  &:hover {
    &:before, &:after {
      opacity: 1;
      transition: .3s opacity ease;
    }
  }
}

.modal {
  position: fixed;
  z-index: 999;
  width: 50%;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  img {
    width: 100%;
    border: 5px solid #fff;
  }
  &-prev{
    font-size: 123px;
    color: #ccc;
    position: absolute;
    left: -255px;
    top: 40%;
  }
  &-next{
    font-size: 123px;
    color: #ccc;
    position: absolute;
    right:  -570px;
    top: 40%;
  }
}

.modal-overlay {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
.modal-body a {
  position: absolute;
  display: inline;
  color: $black;
  text-decoration: none;
  line-height: 36px;
  font-size: 30px;
  font-weight: lighter;
  background: #fff;
  border-radius: 5px;
  height: 40px; width: 40px;
  text-align: center;
}
.modal-body .modal-close {
  right: 0; top: 0;
  border-radius: 0 0 0 5px;
}
.modal-body .modal-next,
.modal-body .modal-prev {
  right: 0; top: calc(50% - 25px);
  border-radius: 5px 0 0 5px;
  height: 50px;
  line-height: 40px;
  font-size: 60px;
}
.modal-body .modal-prev {
  left: 0;
  right: auto;
  border-radius: 0 5px 5px 0;
}
.modal-body {
  position: relative;
}

//END MODAL

//WRITE POST FIELD
.WritePostField,
.WritePostField-message{
  background: rgb(255, 255, 255);
  margin: 10px 0;
  border-radius: 3px;
  box-shadow: rgb(215, 216, 219) 0 1px 0 0, rgb(227, 228, 232) 0 0 0 1px;
  img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    background:center center / cover;
  }
  textarea{
    white-space: nowrap;
    resize: none;
    height: auto;
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 100;
    color: rgb(51, 51, 51);
    width: 70%;
    padding: 10px 0 0;
  }
  &__smile{
    animation: 0.4s ease 0s 1 normal none running opacity;
    display: flex;
    justify-content: flex-end;
    width: 20%;
    &-wrapper{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: rgb(74, 118, 168);
      cursor: pointer;
      width: 40px;
      height: 40px;
      opacity: 0.7;
      svg{
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.WritePostField-message{
  background: rgb(255, 255, 255);
  margin:0;
  border-radius: 3px;
  box-shadow: rgb(215, 216, 219) 0 1px 0 0, rgb(227, 228, 232) 0 0 0 1px;
}
.InputIconsWrapper{
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.InputIcons{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $secondColor;
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0.7;
  svg{
    display: inline-block;
    vertical-align: middle;
  }
  &-Active{
    color: $pinkColor;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 0.7;
    svg{
      display: inline-block;
      vertical-align: middle;
    }
  }
}
.WritePostFieldWrapper{
  padding: 10px 10px 5px;
  display: flex;
  &-Open{
    padding: 10px 10px 5px;
    display: flex;
    input{
      white-space: nowrap;
      resize: none;
      height: auto;
      border: none;
      outline: none;
      margin-left: 10px;
      font-size: 24px;
      font-weight: 100;
      color: rgb(51, 51, 51);
      width: 70%;
      padding: 10px 0 0;
      font-family: $font;
    }
    img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 5px;
      background:center center / cover;
    }
  }

}

.OpenInputFooter{
  animation: 0.4s ease-in-out 0s 1 normal none running top;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: rgb(250, 251, 252);
  border-top: 1px solid rgb(231, 232, 236);
  border-radius: 0 0 2px 2px;
  padding: 10px 15px;
  &__send-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button{
    padding: 7px 15px;
    font-size: 14px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    background-color: $secondColor;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 4px;
    margin: 0 7px 0 0;
  }
}

// END WRITE POST FIELD

//CHOOSE POST

.ChoosePosts{
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  animation: 0.4s ease-in-out 0s 1 normal none running top;
  background: rgb(255, 255, 255);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  box-shadow: rgb(215 ,216, 219) 0 1px 0 0, rgb(227, 228 ,232) 0 0 0 1px;
  padding: 15px 15px 10px;
  margin: 10px 0 0;
  height: 50px;
  &__theme{
    span{
      padding-bottom: 14px;
      padding-top: 10px;
      margin-left: 20px;
      font-size: 14px;
      color: rgb(101, 101, 101);
      cursor: pointer;
      font-family: $font;
    }
    &-active{
      border-bottom: 3px solid $secondColor;
    }
  }
}

.searchIcon{
  padding-bottom: 10px;
  box-sizing: border-box;
}

// END CHOOSE POST


//POSTS
.Posts{
  border-radius: 3px;
  &__wrapper{
    animation: 0.4s ease-in-out 0s 1 normal none running top;
    background: rgb(255, 255, 255);
    margin: 10px 0;
    border-radius: 3px;
    box-shadow: rgb(215, 216, 219) 0 1px 0 0, rgb(227, 228, 232) 0 0 0 1px;
    padding: 10px 15px 5px;
  }
  &__author {
    display: flex;
    margin-bottom: 10px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;

    &-name {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      p{
        color: #2d3841;
        text-decoration: none;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px;
        font-family: "Quicksand", sans-serif;
      }
    }

    &-photo {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 5px;
        background: center center / cover;
      }

      span {
        color: $secondColor;
        text-decoration: none;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px;
        font-family: $font;
      }
    }
  }
  &__arrow{
    text-align: right;
    padding-right: 5px;
    position: relative;
    cursor: pointer;
  }
  &__text-wrapper{
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    p{
      font-size: 14px;
      line-height: 1.5em;
      color: $secondColor;
      font-family: $font;
    }
  }
  &__footer{
    padding: 10px 0;
    border-top: 1px solid rgb(231, 232, 236);
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
}

.Post__text-photo{
  text-align: center;
  padding: 10px 0;
  img{
    width: 550px;
    height: 350px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

  }
}
//END POSTS


//MESSAGE PAGE

.messages{
  overflow: auto;
  &__form{
    input{
      width: 500px;
    }
    button{

    }
  }
}

.message{
  border: 1px solid #cccccc;
  width: 80%;
  display: flex;
  padding-left: 5px;

  &__wrapper{
    width: 25%;
    border-right: 1px solid #ccc;

  }
  &__send{

  }
  &__chat{
    &-content{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 75vh;
      width: 575px;
    }

    &-users{
      border-bottom: 1px solid;
      text-align: center;
      width: 100%;
      height: 43px;
      ul{
        display: flex;
        justify-content: center;
      }
    }
  }
  &__rooms{
    width: 100%;
    &-active{
      background: $secondColor;
      color: white;
    }
  }
  &__room{
      width: 100%;
    display: flex;
    border-bottom: 1px solid ;

    &-photo{
      padding: 5px;
      img{
        width: 30px;
        height: 30px;
        background: cover/center;
        border-radius: 50%;
      }
    }
    &-userWrapper{
      margin-left: 10px;
      padding: 5px;
      p{
        font-family: $font;
        font-size: 12px;
        margin-top: 5px;
      }
    }
    &-user{
      font-family: $font;
      font-size: 13px;
      font-weight: 700;
    }
  }
}

.ant-comment-actions > li > span{
  color: #cccccc;
}

//END MESSAGE PAGE

//LOADER
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//END LOADER

//NEWS PAGE
.News{
  animation: 0.4s ease-in-out 0s 1 normal none running top;
  background: rgb(255, 255, 255);
  margin: 10px 0;
  border-radius: 3px;
  box-shadow: rgb(215, 216, 219) 0 1px 0 0, rgb(227, 228, 232) 0 0 0 1px;
  padding: 10px 15px 5px;
  &:first-child{
    margin-top: 0;
  }
  &__author{
    display: flex;
    margin-bottom: 10px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    &-name{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 5px;
        background: center center / cover;
      }
      span{
        text-decoration: none;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px;
        font-family: $font;
      }
    }
  }
  &__arrow{
    text-align: right;
    padding-right: 5px;
    position: relative;
  }
  &__content{
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    p{
      font-size: 14px;
      line-height: 1.5em;
      font-family: $font;
    }
  }
  &__footer{
    padding: 10px 0;
    border-top: 1px solid rgb(231, 232, 236);
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
  &__post{
    display: flex;
    flex-direction: column;
    max-width: 700px;
  }
}
//END NEWS PAGE

//FRIENDS PAGE

.FriendsPage{
  width: 65%;
  min-height: 750px;
  &__status{
    border-radius: 2px 2px 0 0;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(231, 232, 236);
    padding: 0 20px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-top: 15px;
    &-all{
      border-bottom: 2px solid $pinkColor;
      padding: 18px 0;
      margin-left: 20px;
      font-size: 14px;
      cursor: pointer;
      color: rgb(101, 101, 101);
      &:first-child{
        margin-left: 0;
      }
    }
    &-online{
      padding: 18px 0px;
      margin-left: 20px;
      font-size: 14px;
      cursor: pointer;
      color: rgb(101, 101, 101);
    }
  }
  &__search{
    border-bottom: 1px solid rgb(231, 232, 236);
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0 20px;
    animation: 0.4s ease-in-out 0s 1 normal none running top;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    input{
      font-size: 14px;
      padding: 20px 44px 20px 14px;
      border: none;
      outline: none;
      color: rgb(101, 101, 101);
      opacity: 0.7;
      width: 70%;
    }
    a{
      color: $secondColor;
      text-decoration: none;
      font-size: 12.5px;
      cursor: pointer;
      opacity: 0.7;
    }
  }
  &__parameters{
    display: flex;
    align-items: center;
    svg{
      padding-top: 5px;
    }
  }
  &__friend{
    margin-left: 20px;
    text-align: left;
    h3{
      color: rgb(42, 88, 133);
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 8px;
    }
    a{
      color: rgb(42, 88, 133);
      text-decoration: none;
      font-size: 12.5px;
      cursor: pointer;
      opacity: 0.7;
    }
    &-wrapper{
      background: rgb(255, 255, 255);
      border-top: 1px solid rgb(231, 232, 236);
      padding: 12px 25px;
      display: flex;
      -webkit-box-pack: start;
      justify-content: flex-start;
      animation: 0.4s ease-in-out 0s 1 normal none running top;
      img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}

// END FRIENDS PAGE



